<% include ./template/header %>

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Perpus_api</a>
  </nav>

  <div class="alert alert-success" role="alert">
      <h4>Index Page</h4>
      <h5>Register</h5>
      <h5>Admin</h5>
      <h5>User</h5>
  </div>

<% include ./template/footer %>