<% include ./template/header %>

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Perpus_api</a>
  </nav>

  <div class="alert alert-success" role="alert">
      <h1>Index Page</h1>
  </div>

<% include ./template/footer %>